@inherits LayoutComponentBase
@inject IJSRuntime _jsCustom
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<HeaderPos />
        <div class="main-wrappers">
    <div class="page-wrapper ms-0">
    @Body
    </div>
</div>
