@page "/app/recordattendance"
@inject IAttendance _attendance
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IUser _user
@inject IEmployee _employee
@using System.Security.Claims
@using System.Text;
@using QuickAccounting.Helpers;
@inject IWebHostEnvironment _hostingEnvironment
@inject IPrivilege _privilege
@inject NavigationManager navigation
@inject IAuditLogService _audit
@inject ApplicationDbContext _db
@attribute [Authorize]

<PageTitle>Form Absensi Harian</PageTitle>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Form Absensi Harian</h4>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            @if (AttendanceFormOpen)
            {
                if (AttendanceSubmitted == false)
                {
                    if (WithinBoundaries)
                    {
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group" style="text-align: center !important;">
                                    <label style="font-size:24px; font-weight:bold;">@WaktuAbsensi</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group" style="text-align: center !important;">
                                    <label>Foto Selfie</label>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <div class="image-uploads">
                                                @if (PhotoViewer == string.Empty)
                                                {
                                                    <img src="/img/noimage.png" alt="img">
                                                }
                                                else
                                                {
                                                    <img src="@PhotoViewer" width="80" height="80">
                                                }
                                                <br />
                                                <InputFile OnChange="OnFileChange" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br /> <br />
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center !important;">
                                <input type="button" @onclick="@(e => Save())" class="btn btn-submit me-2" value="Simpan Absensi" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group" style="text-align: center !important;">
                                    <label style="font-size:24px; font-weight:bold;">Anda tidak berada di lokasi kandang.</label>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group" style="text-align: center !important;">
                                <label style="font-size:24px; font-weight:bold;">Absensi berhasil disimpan.</label>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            @if (AttendanceCompletedForMorning && AttendanceCompletedForToday == false)
                            {
                                <label style="font-size:24px; font-weight:bold;">Absensi pagi sudah, sore jangan lupa ya.</label>
                            }
                            else if (AttendanceCompletedForMorning && AttendanceCompletedForToday)
                            {
                                <label style="font-size:24px; font-weight:bold;">Absensi hari ini sudah lengkap.</label>
                            }
                            else if (!AttendanceCompletedForMorning && !AttendanceCompletedForToday)
                            {
                                <label style="font-size:24px; font-weight:bold;">Anda belum absen sama sekali hari ini.</label>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /product list -->
</div>


@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    DailyAttendanceMaster master = new DailyAttendanceMaster();
    UserMaster modelUser = new UserMaster();
    Employee modelEmployee = new Employee();
    List<DailyAttendanceMaster> todayAttendances;

    string strMenu = "Record Attendance";
    private string PhotoSelfie;
    private string PhotoViewer;
    private Location location;
    private string WaktuAbsensi;

    private bool AttendanceSubmitted;
    private bool WithinBoundaries;
    private bool AttendanceCompletedForToday;
    private bool AttendanceCompletedForMorning;
    private bool AttendanceFormOpen;

    MemoryStream uploadedFileStream;
    string uploadedFileExtension;

    private async Task GetLocation()
    {        
        try
        {
            // Call the JavaScript function and get the result as an anonymous object
            //var result = await JSRuntime.InvokeAsync<Location>("getGeolocation");
            //location = result;
            location = new Location
            {
                Latitude = -8.284643,
                Longitude = 113.534056
            };

            var boundary = new GeoBoundary
                {
                    MinLatitude = -8.285350737880993,
                    MaxLatitude = -8.283251719937075,
                    MinLongitude = 113.53280383586056,
                    MaxLongitude = 113.53530775154285
                };

            WithinBoundaries = true; //boundary.IsPointWithinBoundary(location.Latitude, location.Longitude);
        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., geolocation not supported, user denied permission, etc.)
            WithinBoundaries = false;
        }
    }

    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            var format = "image/png";
            uploadedFileExtension = Path.GetExtension(e.File.Name);
            uploadedFileStream = new();
            var resized = await e.File.RequestImageFileAsync(e.File.ContentType, maxWidth: 500, maxHeight: 500);
            using Stream fileStream = resized.OpenReadStream();
            await fileStream.CopyToAsync(uploadedFileStream);

            var fileString = $"data:{format};base64,{Convert.ToBase64String(uploadedFileStream.ToArray())}";
            if (fileString == null)
            {
                PhotoViewer = string.Empty;
            }
            else
            {
                PhotoViewer = fileString;
            }
        }
        catch(Exception ex)
        {
            PhotoViewer = string.Empty;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationState;
            var currentUser = authState.User;
            string userName = currentUser.FindFirst(ClaimTypes.Name).Value;
            modelUser = await _user.UserProfile(userName);
            modelEmployee = await _employee.GetbyUserId(modelUser.UserId);
            AttendanceCompletedForMorning = false;
            AttendanceCompletedForToday = false;
            AttendanceFormOpen = false;

            string auditMessage = "User dengan nama " + modelEmployee.EmployeeName + " mengunjungi Form Absensi.";
            await _audit.LogAsync(LogTypes.LogInfo, "Form Absensi", auditMessage, modelEmployee.EmployeeId, modelEmployee.EmployeeName);

            await GetLocation();

            if(modelEmployee.DesignationId == 4)
            {
                WithinBoundaries = true;
            }

            if (modelEmployee.EmployeeId == 5 || modelEmployee.EmployeeId == 6)
            {
                AttendanceFormOpen = true;
                WithinBoundaries = true;
            }

            auditMessage = "Apakah di area kandang? " + (WithinBoundaries ? "Ya" : "Tidak");
            await _audit.LogAsync(LogTypes.LogInfo, "Form Absensi", auditMessage, modelEmployee.EmployeeId, modelEmployee.EmployeeName);

            await LoadData();

            StateHasChanged();
        }
        catch (Exception ex)
        {
            string auditMessage = "Error: " + ex.Message;
            await _audit.LogAsync(LogTypes.LogError, "Form Absensi", auditMessage, modelEmployee.EmployeeId, modelEmployee.EmployeeName);
        }
    }

    private async Task LoadData()
    {
        StringBuilder auditMessage = new StringBuilder();        

        PhotoSelfie = string.Empty;
        PhotoViewer = string.Empty;
        DateTime now = DateTime.Now;

        DateTime nineAM = new DateTime(now.Year, now.Month, now.Day, 9, 0, 0);
        DateTime threePM = new DateTime(now.Year, now.Month, now.Day, 15, 0, 0);

        //if (modelEmployee.EmployeeId != 5 && modelEmployee.EmployeeId != 6)
        //{// kecuali dev dan owner
            todayAttendances = await _attendance.GetTodaysAttendanceList(modelEmployee.EmployeeId);
            if (todayAttendances.Count == 1 && todayAttendances[0].Date <= nineAM)
            {
                AttendanceCompletedForMorning = true;
                auditMessage.AppendLine(modelEmployee.EmployeeName + ": sudah absen pagi.");
            }
            else if (todayAttendances.Count == 1 && todayAttendances[0].Date >= threePM)
            {
                AttendanceCompletedForMorning = true;
                AttendanceCompletedForToday = false;
                auditMessage.AppendLine(modelEmployee.EmployeeName + ": belum absen sore.");
            }
            else if (todayAttendances.Count == 2)
            {
                AttendanceCompletedForMorning = true;
                AttendanceCompletedForToday = true;
                auditMessage.AppendLine(modelEmployee.EmployeeName + ": absensi sudah lengkap.");
            }
        //}

        master.Date = now;
        String sDate = now.ToString();
        DateTime datevalue = (Convert.ToDateTime(sDate.ToString()));

        String dy = datevalue.Day.ToString();
        String mn = datevalue.Month.ToString();
        String yy = datevalue.Year.ToString();
        master.Narration = dy + mn + yy;                

        master.Lat = location.Latitude.ToString();
        master.Long = location.Longitude.ToString();

        auditMessage.AppendLine(modelEmployee.EmployeeName + ": LAT: " + location.Latitude.ToString() + ", LONG: " + location.Longitude.ToString() + ".");

        //if (modelEmployee.EmployeeId != 5 && modelEmployee.EmployeeId != 6)
        //{
            var hour = now.Hour;
            if (hour >= 5 && hour <= 9)
            {
                if (AttendanceCompletedForMorning)
                {
                    AttendanceFormOpen = false;
                    auditMessage.AppendLine(modelEmployee.EmployeeName + ": absen pagi sudah, form tertutup.");
                }
                else
                {
                    AttendanceFormOpen = true;
                    auditMessage.AppendLine(modelEmployee.EmployeeName + ": absen pagi belum, form terbuka.");
                }
                WaktuAbsensi = "Absensi Kedatangan";
            }
            else if (hour > 15)
            {
                if (AttendanceCompletedForToday)
                {
                    AttendanceFormOpen = false;
                    auditMessage.AppendLine(modelEmployee.EmployeeName + ": absen sore sudah, form terturup.");
                }
                else
                {
                    AttendanceFormOpen = true;
                    auditMessage.AppendLine(modelEmployee.EmployeeName + ": absen sore belum, form terbuka.");
                }

                WaktuAbsensi = "Absensi Pulang";
            }
            else
            {
                AttendanceFormOpen = false;
                auditMessage.AppendLine("Form tertutup, diluar waktu absen: " + DateTime.Now.ToString("dd/MM/yyyy hh:mm"));
            }

            AttendanceSubmitted = false;

            await _audit.LogAsync(LogTypes.LogInfo, "Form Absensi", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);
        // }
        // else 
        // {
        //     AttendanceFormOpen = true;
        //     AttendanceSubmitted = false;
        // }

        StateHasChanged();
    }

    private async Task Save()
    {
        try
        {
            StringBuilder auditMessage = new StringBuilder();

            string userFolder = modelEmployee.EmployeeId + "_" + modelEmployee.EmployeeName.Replace(" ", "_");
            string fileName = await UploadFile(userFolder);

            // if (modelEmployee.EmployeeId != 5 && modelEmployee.EmployeeId != 6)
            // {
                if (WaktuAbsensi == "Absensi Pulang")
                {
                    var employeeInKandang = _db.EmployeeKandang.Where(x => x.EmployeeID == modelEmployee.EmployeeId).FirstOrDefault();
                    if (employeeInKandang != null && !string.IsNullOrEmpty(employeeInKandang.NomorKandang))
                    {
                        var nomorKandang = employeeInKandang.NomorKandang.Split(',', StringSplitOptions.RemoveEmptyEntries);
                        foreach (var nk in nomorKandang)
                        {
                            var cageNumber = Helper.ConvertCageNumber(nk);
                            var alreadyInput = _db.LogPopulasiAnakKandang.Where(x => x.EmployeeID == modelEmployee.EmployeeId && x.RecordDate == DateTime.Today && x.CageNumber == cageNumber)
                                                        .FirstOrDefault();

                            if (alreadyInput == null)
                            {
                                // belum input populasi.
                                auditMessage.AppendLine("Error belum input Populasi.");
                                await _audit.LogAsync(LogTypes.LogError, "Form Absensi", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);

                                Snackbar.Add("Anda belum input Populasi.", Severity.Error);
                                return;
                            }
                        }
                    }
                }
            //}

            if (PhotoSelfie == string.Empty)
            {
                auditMessage.AppendLine("Error belum upload foto absen.");
                await _audit.LogAsync(LogTypes.LogError, "Form Absensi", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);

                Snackbar.Add("Anda belum mengambil foto selfie.", Severity.Error);
                return;
            }

            DateTime now = DateTime.Now;
            master.AddedDate = now;
            master.Date = now;

            master.Lat = location.Latitude.ToString();
            master.Long = location.Longitude.ToString();
            master.EmployeeID = modelEmployee.EmployeeId;

            // by default alpha, sampai nanti pas payroll baru di set masuk klo ada absensi 2 kali dalam sehari.
            master.AttendanceStatus = "ALPHA";

            master.PhotoSelfie = fileName;

            var result = await _attendance.Save(master);

            if (result > 0)
            {
                Snackbar.Add("Absensi telah berhasil disimpan.", Severity.Success);
                AttendanceSubmitted = true;
                auditMessage.AppendLine(WaktuAbsensi + ": Absensi berhasil disimpan.");
                await _audit.LogAsync(LogTypes.LogInfo, "Form Absensi", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);

                //if (modelEmployee.EmployeeId != 5 && modelEmployee.EmployeeId != 6)
                //{
                    var perijinan = _db.Perijinan.FirstOrDefault(x => x.EmployeeID == modelEmployee.EmployeeId && x.IsApproved.HasValue && x.IsApproved.Value == true && x.ForDate.Date == now.Date &&
                                    (x.SubmittedFor == "LIBUR" || x.SubmittedFor == "IJIN" || x.SubmittedFor == "SAKIT"));
                    if (perijinan != null)
                    {
                        perijinan.IsApproved = null;
                        perijinan.ApprovalDescription = "Dibatalkan otomatis karena masuk kerja.";
                        await _db.SaveChangesAsync();

                        auditMessage.AppendLine("Perijinan: " + perijinan.SubmittedFor + " berhasil dicancel.");
                        await _audit.LogAsync(LogTypes.LogInfo, "Perijinan", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);

                    }
                //}
                StateHasChanged();
            }
            else
            {
                auditMessage.AppendLine(WaktuAbsensi + ": Absensi GAGAL disimpan.");
                await _audit.LogAsync(LogTypes.LogError, "Form Absensi", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);
                Snackbar.Add("Absensi gagal disimpan, silakan coba lagi, atau hubungi admin.", Severity.Error);
            }
        }
        catch(Exception ex)
        {
            StringBuilder auditMessage = new StringBuilder();
            auditMessage.AppendLine("Error: " + ex.Message + "$#$#" + ex.StackTrace);
            await _audit.LogAsync(LogTypes.LogError, "Form Absensi", auditMessage.ToString(), modelEmployee.EmployeeId, modelEmployee.EmployeeName);
            Snackbar.Add("Absensi gagal disimpan, silakan coba lagi, atau hubungi admin.", Severity.Error);
        }
    }

    public async Task<string> UploadFile(string userFolder)
    {
        var uploadDirectory = Path.Combine(_hostingEnvironment.WebRootPath, "uploads/absensi/" + userFolder);
        if (!Directory.Exists(uploadDirectory))
        {
            Directory.CreateDirectory(uploadDirectory);
        }

        var fileExtension = uploadedFileExtension;        
        var fileName = $"{Guid.NewGuid()}{fileExtension}";
        var path = Path.Combine(uploadDirectory, fileName);
        await using var fs = new FileStream(path, FileMode.Create);
        //await file.OpenReadStream(file.Size).CopyToAsync(fs);
        uploadedFileStream.Position = 0;
        await uploadedFileStream.CopyToAsync(fs);
        PhotoSelfie = fileName;
        return fileName;
    }

    public class Location
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }

    public class GeoBoundary
    {
        public double MinLatitude { get; set; }
        public double MaxLatitude { get; set; }
        public double MinLongitude { get; set; }
        public double MaxLongitude { get; set; }

        public bool IsPointWithinBoundary(double latitude, double longitude)
        {
            return latitude >= MinLatitude && latitude <= MaxLatitude &&
                   longitude >= MinLongitude && longitude <= MaxLongitude;
        }
    }
}
