@page "/app/foodintake"
@using System.Security.Claims;
@using QuickAccounting.Data.Recording;
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IUser _user
@inject IEmployee _employee
@inject IWebHostEnvironment _hostingEnvironment
@inject IPrivilege _privilege
@inject NavigationManager navigation
@inject IDailyRecordingService _recording
@inject IKandangService _kandang
@attribute [Authorize]

<PageTitle>Form Recording Food Intake</PageTitle>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Form Recording Food Intake</h4>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            @if (FormSubmitted == false)
            {
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Pilih Nomor Kandang</label>
                            <div class="row">
                                <div class="col-lg col-sm-12 col-12">
                                    <select class="form-control" @onchange="OnCageChanged">
                                        <option value="TIDAK">PILIH NO KANDANG</option>
                                        @foreach (var kandangItem in CageList)
                                        {
                                            <option value="@kandangItem.NoKandang">@kandangItem.NoKandang</option>
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Strain</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="StrainName" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Record Date</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="date" class="form-control" @bind="RecordDate" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Umur Minggu</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="text" class="form-control" @bind="HenAgeWeek" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Umur Hari</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="text" class="form-control" @bind="HenAgeDays" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Jenis Concentrate</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="ConcentrateType" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Kirim</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="ActualFoodNeededKG" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Saldo</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="SaldoFoodKG" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Pakai</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="FoodNeededTodayKg" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Sisa</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="RemainingFoodKg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>FI</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="FoodIntakePerHen" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>-/+ FI</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="number" class="form-control" @bind="FoodIntakeDeviation" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br /> <br />
                <div class="row">
                    <div class="col-lg-12" style="text-align: center !important;">
                        <input type="button" @onclick="@(e => SaveFoodIntakeAsync())" class="btn btn-submit me-2" value="Simpan Feed Intake Data" />
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label style="font-size:24px; font-weight:bold;">Data FI telah tersimpan.</label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    private DateTime RecordDate { get; set; }
    private decimal HenAgeWeek { get; set; }
    private string ConcentrateType { get; set; }
    private decimal ActualFoodNeededKG { get; set; }
    private int SaldoFoodKG { get; set; }
    private int FoodNeededTodayKg { get; set; }
    private int RemainingFoodKg { get; set; }
    private int FoodIntakePerHen { get; set; }
    private int FoodIntakeDeviation { get; set; }
    private string StrainName { get; set; }
    public int HenAgeDays { get; set; }
    private bool FormSubmitted { get; set; }
    string SelectedNoKandang = "";
    DateTime TodaysDate;
    private List<Kandang> CageList = new List<Kandang>(); // Placeholder for cage numbers.
    private DailyRecording CurrentRecording;
    string strMenu = "Form Recording Food Intake";

    private UserMaster modelUser;
    private Employee modelEmployee;

    private void SetTodaysDate()
    {
        var today = DateTime.Now;
        TodaysDate = new DateTime(today.Year, today.Month, today.Day, 0, 0, 0);
    }

    private async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var currentUser = authState.User;
        string strName = currentUser.FindFirst(ClaimTypes.Role).Value;
        string userName = currentUser.FindFirst(ClaimTypes.Name).Value;
        var strShow = await _privilege.PriviliageCheck(strMenu, strName);
        modelUser = await _user.UserProfile(userName);
        modelEmployee = await _employee.GetbyUserId(modelUser.UserId);

        if (strShow.ShowAction == true)
        {           
            SetTodaysDate();

            // Fetch cage numbers, can be populated dynamically from a service or DB
            CageList = await _kandang.GetAll();
        }
        else
        {
            navigation.NavigateTo("/app/dashboard");
            Snackbar.Add("Anda tidak memiliki akses.", Severity.Error);
        }

        StateHasChanged();
    }

    private async Task OnCageChanged(ChangeEventArgs e)
    {        
        if (e.Value.ToString() != "TIDAK")
        {
            SelectedNoKandang = e.Value.ToString();
            CurrentRecording = await _recording.GetDailyRecordForTodayAsync(SelectedNoKandang, TodaysDate);
            RecordDate = CurrentRecording.RecordDate;
            HenAgeWeek = CurrentRecording.HenAgeWeeks;
        }
    }

    private async Task SaveFoodIntakeAsync()
    {
        if (SelectedNoKandang == "")
        {
            Snackbar.Add("Mohon pilih No Kandang terlebih dahulu.", Severity.Error);
            return;
        }

        var result = await _recording.SaveFoodIntakeAsync(SelectedNoKandang, StrainName, RecordDate,
            ConcentrateType, FoodIntakePerHen, RemainingFoodKg, FoodNeededTodayKg,
            ActualFoodNeededKG, SaldoFoodKG, FoodIntakeDeviation, modelEmployee.EmployeeId);

        if (result)
        {
            Snackbar.Add("Feed Intake data telah tersimpan.", Severity.Success);
            FormSubmitted = true;
            StateHasChanged();
        }
        else
        {
            Snackbar.Add("Recording tidak ditemukan untuk kandang yang dipilih.", Severity.Error);
        }
    }
}
